asttokens==2.4.1
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
decorator==5.1.1
exceptiongroup==1.2.0
executing==2.0.1
html5lib==1.1
idna==3.4
iniconfig==2.0.0
ipython==8.18.1
jedi==0.19.1
matplotlib-inline==0.1.6
numpy==1.26.2
packaging==24.0
pandas==2.1.4
parso==0.8.3
pluggy==1.4.0
prompt-toolkit==3.0.43
pure-eval==0.2.2
Pygments==2.17.2
pytest==8.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
ruff==0.3.5
six==1.16.0
soupsieve==2.4.1
stack-data==0.6.3
tomli==2.0.1
traitlets==5.14.2
typing_extensions==4.10.0
tzdata==2023.3
urllib3==2.0.4
wcwidth==0.2.13
webencodings==0.5.1
